/* COMMON CLASSES ////////////////////////////////*/
:root {
  --main-title-font: 'Bree Serif';

}

.page {
  width: 100vw;
  height: 100vh;
}

.body {
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 30px;
  background: #4256f4;
  border: none;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 5px;
}

.title {
  text-align: center;
  font-size: 30px;
  display: block;
  width: 100%;
  margin: 0px;
  font-family: var(--main-title-font);
}

a {
  text-decoration: none;
  color: black;
}

/* ERROR ////////////////////////////////*/

.error-hide{
  display: none;
}


.error-show, .error-hide{
  list-style: none;
  width: 100%;
  background: #FF0000;
  color: white;
  text-align: center;
  padding:  10px 0px;
}



/* MODAL ////////////////////////////////*/
.modal_container_showing {
  position: absolute;
  background: rgba(0,0,0,0.5);
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_container_hiding {
  display: none;
}

.modal {
  background: white;
  height: 20%;
  width: 40%;
  border-radius: 10px;
}

.modal_title{
  font-family: 'Bree Serif';
  font-size: 18px;
  letter-spacing: 1px;
  padding:  10px 20px;
  border-bottom: 1px solid grey;
}

.modal_buttons{
  padding: 10px 20px;
}

.modal_buttons button {
  margin-top: 0px;
  padding: 5px 10px;
}

/* HOMEPAGE ////////////////////////////////*/

.homepage{
  background-image: url('https://images.pexels.com/photos/1413653/pexels-photo-1413653.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
}

.homepage-overlay{
  background: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
}


/* FORM ////////////////////////////////*/
form {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

label {
  font-family: 'Roboto', sans-serif;
  display: block;
  padding: 5px 0px;
}

form input, textarea{
  border: 2px solid transparent;
  border-radius: 2px;
  border-bottom-color: #bababa;
  padding: 5px 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background: none;
  width: 100%;
}

input:focus{
  border-bottom-color: #4256f4;
  outline: none;
}


.two-input, .one-input {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px;
}

.one-input {
  display: block;
}

.one, .two {
  width: 47%;
}

/* ENTRYFORM ////////////////////////////////*/

.entryFormShowing {
  display: block;
}

.entryFormHiding {
  display: none;
}

.cancel {
  background-color: red;
  margin-right:20px;
}



table{
  width: 50%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


.trash_btn {
  border: none;
  font-size: 20px;
  background: none;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* USER LOGIN  & REGISTRATION PAGE DESIGN ////////////////////////////////*/
 .login-content, .registration-content{
  background: #F8F8F8;
  width: 30%;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 14px 21px 41px -27px rgba(0,0,0,0.75);
}

/* USER LOGIN PAGE DESIGN */
.login {
  width: 100%;
  background: #00CC33;
  margin-top: 20px;
}

.aggrement {
  text-align: center;
  font-size: 12px;
}


/* USER REGISTRATION PAGE DESIGN */
.registration-content{
  width: 35%;
  box-shadow: 14px 21px 41px -27px white;
}


.register {
  width: 100%;
  margin-top: 20px;
}

/* Dashboard style ////////////////////////////////*/
.Dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:  column;
}

.dashboard-content {
  width: 100vw;
}

.ledgerList {
  padding: 20px;
}

.ledgerItem {
  width: 50%;
  background: #F5F5F5;
  padding: 0 20px;
  border-radius: 10px;
}

.ledgerTitle {
  font-family: 'Bree Serif';
  font-size: 25px;

}

.ledgerInfo{
  display: flex;
  justify-content: space-between;
  font-family: 'Bree Serif';
  font-size: 12px;
}

.modal_buttons .cancel {
  background: #bababa;
}
/* SideNav style ////////////////////////////////*/
.nav{
  height: 8vh;
  width: 100%;
  background: #F0F0F0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
}

.brand_logo {
  font-family: 'Francois One';
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
}

.user {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_name {
  text-align: center;
  font-family: 'Bree Serif', cursive;
}

.logout_btn, .login_btn {
  margin-top: 0px;
  padding: 5px 10px;
  background: #FF3333;
}

.login_btn {
  color: white;
  font-size: 15px;
  border-radius: 5px;
  background: #00CC33;
}



#logo a{
  color: white;
  text-decoration: underline;
  font-family: 'Righteous', cursive;
  font-size: 36px;
  letter-spacing: -1.1px;
}

#social {
  display: flex;
}
.social{
  font-size: 18px;
  color: white;
}

.social:hover{
  color: grey;
}
