/* COMMON CLASSES */

.title {
  text-align: center;
  font-size: 30px;
  display: block;
  width: 100%;
  margin: 0px;
}

.homepage{
  background-image: url('https://images.pexels.com/photos/1413653/pexels-photo-1413653.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.overlay{
  background: rgba(0,0,0,0.7);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.brand{
  font-size: 150px;
  color: white;
  font-weight: bold;
}

form {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}


h2{
   text-align: center;
   border-bottom: 2px solid black;
}
/* FORM */
label {
  font-family: 'Roboto', sans-serif;
  display: block;
  padding: 5px 0px;
}

form input, textarea{
  border: 2px solid transparent;
  border-radius: 2px;
  border-bottom-color: #bababa;
  padding: 5px 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background: none;
  width: 100%;
}

input:focus{
  border-bottom-color: #4256f4;
  outline: none;
}


.two-input, .one-input {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px;
}

.one-input {
  display: block;
}

.one, .two {
  width: 47%;
}

.cancel, .submit, .login, .register, .home-btn{
  padding: 10px 30px;
  background: #4256f4;
  border: none;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 50px;
}

.home-btn{
  height: 50px;
  width: 200px;
  margin: 20px;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 20px;
}


.error-hide{
  display: none;
}


.error-show, .error-hide{
  list-style: none;
  margin: auto;
  width: 100%;
  background: #FF0000;
  color: white;
  text-align: center;
  padding:  10px 0px;
}



.cancel {
  background-color: red;
  margin-right:20px;
}

.entryFormShowing {
  display: block;
}

.entryFormHiding {
  display: none;
}


table{
  width: 50%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


.trash_btn {
  border: none;
  font-size: 20px;
  background: none;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* USER LOGIN PAGE DESIGN */
.UserLogin {
  background: #F8F8F8;
  width: 30%;
  height: 70%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
}

.login {
  width: 100%;
  background: #00CC33;
  margin-top: 20px;
}


.aggrement {
  text-align: center;
  font-size: 12px;
}


/* USER REGISTRATION PAGE DESIGN */
.UserRegistration{
  background: #F8F8F8;
  width: 40%;
  height: 80%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
}


.register {
  width: 100%;
  margin-top: 20px;
}

/* Dashboard style */
.Dashboard {
  width: 100%;
  height: 100%;
  display: flex;
}

.dashboard-content {
  width: 80%;
}

/* SideNav style */
.nav_left {
  height: 100%;
  width: 20%;
  background: #383838;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0px;
  box-sizing: border-box;
}

.nav_left a {
  display: block;
  width: 100%;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
}

.user {
  color: white;
  text-align: center;
}

.menu a{
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 16px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.menu a:first-child {
  border-bottom: none;
}

.menu a:last-child {
  border-top: none;
}

#logo a{
  color: white;
  text-decoration: underline;
  font-family: 'Righteous', cursive;
  font-size: 36px;
  letter-spacing: -1.1px;
}

#social {
  display: flex;
}
.social{
  font-size: 18px;
  color: white;
}

.social:hover{
  color: grey;
}




/*Upper Link nav style */
.upper-nav {
  padding: 20px;
  border-bottom: 1px solid grey;
  font-size: 20px;
  font-weight: bold;
}

.link-nav {
  text-decoration: none;
  color: black;
  padding: 20px 10px 20px 20px;
}

.link-nav:hover {

  background: grey;
}
