:root {
  --main-title-font: 'Quicksand';
  --main-desc-font: 'Montserrat';
  --main-background-color: white;
  --main-light-grey: #A0A0A0;
  --main-blue-color: #4256f4;
  --money-green-color: #6FCF97;
  --main-capital-font: 'Roboto Condensed';
  --main-table-font: 'Poppins';
}

.table-data::-webkit-scrollbar {
    display: none;
}

/* LEDGER ////////////////////////////////*/

.ledger-content {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
}

 .ledger-top {
  box-sizing: border-box;
  height: 25%;
  min-height: 220px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 95%;
}


 .ledger-bottom{
  box-sizing: border-box;
  height: 70%;
  min-height: 300px;
  width: 95%;
  margin: auto;
}


.summary{
  box-sizing: border-box;
  width: 100%;
  min-height: 195px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.summary-card, .graph{
  background: var(--main-background-color);
  padding: 10px;
  box-sizing: border-box;
  height: 190px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 1px 4px 30px -10px grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

}

.graph{
  width: 350px;
}

.summary-card:first-child {
  background: var('--main-blue-color');
  color: white;
}

.summary-card:first-child .summary-card-icon{
  background: white;
  color: var('--main-blue-color');
}

.summary-card:last-child {
  color: white;
}
.summary-card-number{
  font-family: var('--main-capital-font');
  font-size: 35px;
  font-weight: bold;
}

.summary-card-icon{
  height: 70px;
  width: 70px;
  background: black;
  color: white;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  font-size: 30px;
}

.summary-card-title {
  text-align: center;
  font-family: var('--main-title-font');
  font-weight: bold;
  font-size: 16px;
}

.pos{
  background: var('--money-green-color');
  color: white;
}

.pos .summary-card-icon {
  background: white;
  color: var('--money-green-color');
}


.neg{
  background: #ff0800;
  color: white;
}

.neg .summary-card-icon {
  background: white;
  color:  #ff0800;
}
.doughnutChart {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.table-util {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: var(--main-light-grey);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.fixed-header, .table-filter {
  box-sizing: border-box;
  display: inline-block;
  width: 80%;
  height: 100%;
}

.table-filter {
  width: 20%;
  height: 100%;
}

.fixed-header li {
  box-sizing: border-box;
  display: inline-block;
  padding: 0px 20px;
  height: 100%;
  line-height: 50px;
  font-weight: bold;
  width: 25%;
  font-family: var(--main-table-font);
}

.table-data {
  background: blue;
  height: calc(100% - 70px);
  overflow-y: scroll;
  background: var('--main-background-color');
  box-shadow: 1px 1px 30px -10px grey;
  border-radius: 5px;
}


table{
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  font-family: var(--main-table-font);
  font-size: 15px;
  font-weight: bold;
}

tr{
  border-bottom: 1px solid #F0F0F0;
}


 td {
 width: 20%;
 padding: 20px;
 text-align: left;
}
